---
import Layout from '../layouts/Layout.astro';
import Robot3D from '../components/Robot3D.astro';
---

<Layout title="3D Robot | Ilan Servais">
  <main class="w-full min-h-screen">
    <Robot3D />
  </main>
</Layout>
