---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a dedicated web developer passionate about modern technologies. I specialize in ReactJs and Tailwind CSS to create sleek, responsive websites that merge visual appeal with high performance.
		</p>
		<p class="mb-2">
			I believe in clean design and efficient code, turning every line into an opportunity to craft something beautiful and meaningful. Outside of coding, my creative pursuits continually inspire my projects.
		</p>
		<p class="mb-2">
			I bring a unique perspective to every challenge and am always eager to learn, innovate, and collaborate on exciting ventures. Welcome to my portfolio – let’s build something amazing together!
		</p>
	</div>
</section>
