---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hello there! I'm a dedicated web developer who thrives on building visually engaging and high-performance digital experiences. With a strong passion for modern technologies, I specialize in ReactJs and Tailwind CSS to craft sleek, responsive websites that blend form and function seamlessly.
		</p>
		<p class="mb-2">
			My approach to development is driven by a love for clean design and efficient code. I believe every line of code is an opportunity to create something both beautiful and meaningful. Outside of coding, I enjoy exploring creative pursuits that continuously inspire my projects.
		</p>
		<p class="mb-2">
			I bring a unique perspective to every challenge I tackle. I'm always eager to learn, innovate, and collaborate on exciting new ventures. Welcome to my portfolio—let's build something amazing together!
		</p>
	</div>
</section>
