---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I'm a <span class="text-orange">focused</span> and <span class="text-orange">adaptable</span> web developer who learns fast and builds intuitive, responsive websites.
		</p>
		<p class="mb-2">
			My extensive experience in client service has taught me the importance of a satisfied user, and I apply that insight to every project.
		</p>
		<p class="mb-2">
			Creative and curious, I'm always ready to explore new technologies and tackle collaborative challenges.
		</p>
	</div>
</section>
