---
import Layout from '@layouts/Layout.astro';
import timelineData from '../../data/timeline.json';

// Générer un chemin pour chaque experience
export function getStaticPaths() {
  return timelineData.experiences.map(exp => ({
    params: { id: exp.id.toString() }
  }));
}

const { id } = Astro.params;
---

<Layout title="Redirecting...">
  <div class="flex items-center justify-center h-screen">
    <p>Redirecting you to the career page...</p>
  </div>
</Layout>

<script define:vars={{ id }}>
  window.location.href = `/career#${id}`;
</script>
